In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf

In [4]:
data = yf.download("WIPRO.NS", start="2024-01-01", end="2024-02-28", progress=False)

data = data.reset_index()
data.rename(columns={'Date': 'Date'}, inplace=True)

data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-01-01,473.000000,483.500000,468.299988,477.149994,476.134552,10173639
1,2024-01-02,478.000000,478.000000,464.299988,469.200012,468.201508,7141257
2,2024-01-03,463.899994,463.899994,455.000000,455.899994,454.929779,9767182
3,2024-01-04,457.000000,459.850006,451.399994,452.399994,451.437225,7585168
4,2024-01-05,455.049988,463.000000,453.500000,456.600006,455.628296,8444565
5,2024-01-08,457.500000,460.000000,449.049988,450.350006,449.391602,5041443
6,2024-01-09,458.000000,462.500000,449.950012,450.750000,449.790741,7232524
7,2024-01-10,451.450012,456.000000,449.000000,453.600006,452.634674,4437338
8,2024-01-11,454.950012,456.899994,446.700012,448.200012,447.246185,4319409
9,2024-01-12,455.000000,469.000000,455.000000,465.450012,464.459473,18043367
10,2024-01-15,511.950012,529.000000,489.149994,494.600006,493.547424,63922132
11,2024-01-16,495.000000,495.000000,480.500000,485.000000,483.967865,12956246
12,2024-01-17,475.149994,491.500000,472.000000,482.399994,481.373383,14334466
13,2024-01-18,482.399994,489.000000,468.399994,482.649994,481.622864,13072462
14,2024-01-19,488.000000,493.350006,483.600006,485.049988,484.017731,7749310
15,2024-01-23,478.049988,486.000000,467.049988,469.899994,468.899994,9986168
16,2024-01-24,471.000000,479.000000,468.049988,478.049988,478.049988,5854375
17,2024-01-25,478.049988,479.350006,468.549988,470.000000,470.000000,6426490
18,2024-01-29,470.000000,477.000000,470.000000,473.000000,473.000000,5025650
19,2024-01-30,474.399994,482.899994,471.500000,472.500000,472.500000,5914007
20,2024-01-31,472.500000,479.899994,469.000000,478.149994,478.149994,5292240
21,2024-02-01,477.549988,477.700012,470.600006,471.350006,471.350006,3914060
22,2024-02-02,475.000000,486.500000,475.000000,483.149994,483.149994,8148111
23,2024-02-05,483.000000,489.500000,479.149994,482.350006,482.350006,5783302
24,2024-02-06,484.700012,501.799988,483.100006,499.649994,499.649994,14512019
25,2024-02-07,500.950012,501.700012,492.549988,495.200012,495.200012,4551767
26,2024-02-08,495.899994,500.100006,485.100006,488.850006,488.850006,5651920
27,2024-02-09,490.899994,494.750000,482.750000,490.450012,490.450012,3946894
28,2024-02-12,491.000000,510.799988,491.000000,501.450012,501.450012,24436750
29,2024-02-13,503.100006,513.000000,491.700012,511.600006,511.600006,11186788
30,2024-02-14,503.950012,517.000000,497.049988,514.500000,514.500000,11297328
31,2024-02-15,516.950012,522.849976,513.049988,518.500000,518.500000,7285388
32,2024-02-16,522.500000,545.000000,520.950012,543.000000,543.000000,17471322
33,2024-02-19,545.900024,545.900024,531.349976,535.950012,535.950012,9301379
34,2024-02-20,535.799988,538.150024,526.250000,531.950012,531.950012,5187063
35,2024-02-21,535.900024,536.299988,519.500000,521.400024,521.400024,6557787
36,2024-02-22,522.799988,533.000000,521.450012,531.049988,531.049988,7298241
37,2024-02-23,535.000000,541.250000,533.299988,536.150024,536.150024,9930497
38,2024-02-26,536.250000,536.500000,526.049988,532.900024,532.900024,4410318
39,2024-02-27,534.000000,537.400024,527.549988,531.450012,531.450012,5199630

In [5]:
data.to_csv("WIPRO_prices_test.csv")

In [6]:
fundamental_data = pd.read_csv('WIPRO.csv')

In [7]:
fundamental_data.head(100)

,Unnamed: 0,5-Mar,6-Mar,7-Mar,8-Mar,9-Mar,10-Mar,11-Mar,12-Mar,13-Mar,...,15-Mar,16-Mar,17-Mar,18-Mar,19-Mar,20-Mar,21-Mar,22-Mar,23-Mar,24-Mar
0,Close,78.6937561,117.1012573,126.5400085,98.33625031,46.68750381,152.4375,164.3250427,162.1312866,156.1500397,...,245.3625641,195.0937958,183.3000488,219.6000519,276.6750793,221.4499969,410.2999878,555.7999878,387.0499878,518.5999756
1,Equity Share Capital,140.71,285.15,291.8,292.3,293,293.6,490.8,491.7,492.6,...,493.7,494.1,486.1,904.8,1206.8,1142.7,1095.8,1096.4,1097.6,1045
2,Total Share Capital,140.71,285.15,291.8,292.3,293,293.6,490.8,491.7,492.6,...,493.7,494.1,486.1,904.8,1206.8,1142.7,1095.8,1096.4,1097.6,1045
3,Reserves and Surplus,4751.73,6135.3,9025.1,11260.4,12220.5,17396.8,20829.4,23860.8,23736.9,...,34127.9,40731.6,46219.5,41357.8,48185.2,45311,44145.8,53254.3,61101.5,56736.9
4,Total Reserves and Surplus,4751.73,6135.3,9025.1,11260.4,12220.5,17396.8,20829.4,23860.8,23736.9,...,34127.9,40731.6,46219.5,41357.8,48185.2,45311,44145.8,53254.3,61101.5,56736.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,MarketCap/Net Operating Revenue (X),6.53,7.79,5.95,3.55,1.67,4.53,4.46,3.41,3.24,...,3.76,3.11,2.72,2.85,3.19,2.23,4.51,5.45,2.96,3.76
89,Retention Ratios (%),76.46,64.71,69.25,71.38,80.29,82.01,69.59,68.51,69.47,...,63.82,56.5,89.24,92.94,92.83,92.06,94.55,72.89,94.02,94.27
90,Price/BV (X),9.65,12.4,8.74,5.38,2.87,5.87,5.51,4.43,4.44,...,4.48,3.38,2.68,3.01,3.11,2.42,5.02,5.97,3.19,4.34
91,Price/Net Operating Revenue,6.53,7.79,5.95,3.55,1.67,4.53,4.46,3.41,3.24,...,3.76,3.11,2.72,2.85,3.19,2.23,4.51,5.45,2.96,3.76
92,Earnings Yield,0.03,0.03,0.03,0.05,0.08,0.05,0.04,0.04,0.05,...,0.05,0.06,0.07,0.06,0.05,0.08,0.04,0.04,0.05,0.04

In [8]:
fundamental_data.columns

Index(['Unnamed: 0', '5-Mar', '6-Mar', '7-Mar', '8-Mar', '9-Mar', '10-Mar',
       '11-Mar', '12-Mar', '13-Mar', '14-Mar', '15-Mar', '16-Mar', '17-Mar',
       '18-Mar', '19-Mar', '20-Mar', '21-Mar', '22-Mar', '23-Mar', '24-Mar'],
      dtype='object')

In [9]:
# Rename columns for convenience
fundamental_data.columns = ['Parameter'] + [f'Year_{year}' for year in range(2005, 2025)]

In [10]:
fundamental_data

,Parameter,Year_2005,Year_2006,Year_2007,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,...,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Year_2020,Year_2021,Year_2022,Year_2023,Year_2024
0,Close,78.6937561,117.1012573,126.5400085,98.33625031,46.68750381,152.4375,164.3250427,162.1312866,156.1500397,...,245.3625641,195.0937958,183.3000488,219.6000519,276.6750793,221.4499969,410.2999878,555.7999878,387.0499878,518.5999756
1,Equity Share Capital,140.71,285.15,291.8,292.3,293,293.6,490.8,491.7,492.6,...,493.7,494.1,486.1,904.8,1206.8,1142.7,1095.8,1096.4,1097.6,1045
2,Total Share Capital,140.71,285.15,291.8,292.3,293,293.6,490.8,491.7,492.6,...,493.7,494.1,486.1,904.8,1206.8,1142.7,1095.8,1096.4,1097.6,1045
3,Reserves and Surplus,4751.73,6135.3,9025.1,11260.4,12220.5,17396.8,20829.4,23860.8,23736.9,...,34127.9,40731.6,46219.5,41357.8,48185.2,45311,44145.8,53254.3,61101.5,56736.9
4,Total Reserves and Surplus,4751.73,6135.3,9025.1,11260.4,12220.5,17396.8,20829.4,23860.8,23736.9,...,34127.9,40731.6,46219.5,41357.8,48185.2,45311,44145.8,53254.3,61101.5,56736.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,MarketCap/Net Operating Revenue (X),6.53,7.79,5.95,3.55,1.67,4.53,4.46,3.41,3.24,...,3.76,3.11,2.72,2.85,3.19,2.23,4.51,5.45,2.96,3.76
89,Retention Ratios (%),76.46,64.71,69.25,71.38,80.29,82.01,69.59,68.51,69.47,...,63.82,56.5,89.24,92.94,92.83,92.06,94.55,72.89,94.02,94.27
90,Price/BV (X),9.65,12.4,8.74,5.38,2.87,5.87,5.51,4.43,4.44,...,4.48,3.38,2.68,3.01,3.11,2.42,5.02,5.97,3.19,4.34
91,Price/Net Operating Revenue,6.53,7.79,5.95,3.55,1.67,4.53,4.46,3.41,3.24,...,3.76,3.11,2.72,2.85,3.19,2.23,4.51,5.45,2.96,3.76
92,Earnings Yield,0.03,0.03,0.03,0.05,0.08,0.05,0.04,0.04,0.05,...,0.05,0.06,0.07,0.06,0.05,0.08,0.04,0.04,0.05,0.04

In [17]:
fundamental_long = fundamental_data.melt(id_vars='Parameter', var_name='Year', value_name='Value')

# Extract the year from the column names
fundamental_long['Year'] = fundamental_long['Year'].str.extract(r'(\d{4})').astype(int)
fundamental_long['Month'] = 3

In [18]:
fundamental_long

                                Parameter  Year       Value  Month
0                                   Close  2005  78.6937561      3
1                    Equity Share Capital  2005      140.71      3
2                     Total Share Capital  2005      140.71      3
3                    Reserves and Surplus  2005     4751.73      3
4              Total Reserves and Surplus  2005     4751.73      3
...                                   ...   ...         ...    ...
1855  MarketCap/Net Operating Revenue (X)  2024        3.76      3
1856                 Retention Ratios (%)  2024       94.27      3
1857                         Price/BV (X)  2024        4.34      3
1858          Price/Net Operating Revenue  2024        3.76      3
1859                       Earnings Yield  2024        0.04      3

[1860 rows x 4 columns]

In [19]:
# Pivot fundamental data
fundamental_pivot = fundamental_long.pivot(index=['Month'], columns='Parameter', values='Value').reset_index()

fundamental_pivot['Year'] = fundamental_pivot.apply(
    lambda row: pd.to_datetime(f"{row['Year']}-{row['Month']:02d}-01").strftime('%b-%Y'),
    axis=1
)
fundamental_pivot.drop(columns='Month', inplace=True)
fundamental_pivot.head()

data['Year'] = data['Date'].dt.year
data['Year'] = data['Date'].apply(
    lambda date: date.strftime('%b-%Y')
)
data.head()

ValueError: Index contains duplicate entries, cannot reshape

In [16]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-01-01,473.000000,483.500000,468.299988,477.149994,476.134552,10173639
1,2024-01-02,478.000000,478.000000,464.299988,469.200012,468.201508,7141257
2,2024-01-03,463.899994,463.899994,455.000000,455.899994,454.929779,9767182
3,2024-01-04,457.000000,459.850006,451.399994,452.399994,451.437225,7585168
4,2024-01-05,455.049988,463.000000,453.500000,456.600006,455.628296,8444565

In [95]:
data['Month-Year'] = pd.to_datetime(data['Year'], format='%b-%Y')
fundamental_pivot['Month-Year'] = pd.to_datetime(fundamental_pivot['Year'], format='%b-%Y')

# Define a function to find the financial year range for a given stock date
def find_financial_year_range(stock_date, fundamental_df):
    # Calculate the start and end of the financial year range
    financial_year_start = pd.to_datetime(f'{stock_date.year}-03-01')
    financial_year_end = pd.to_datetime(f'{stock_date.year + 1}-03-01')

    # Check if the stock date is before March of the current year
    if stock_date < financial_year_start:
        financial_year_start = pd.to_datetime(f'{stock_date.year - 1}-03-01')
        financial_year_end = pd.to_datetime(f'{stock_date.year}-03-01')

    # Filter fundamental data for the relevant financial year range
    return fundamental_df[
        (fundamental_df['Month-Year'] >= financial_year_start) & (fundamental_df['Month-Year'] < financial_year_end)
    ]

# Initialize list to collect results
results = []

# Iterate over stock data and find matching fundamental data
for _, stock_row in data.iterrows():
    stock_date = stock_row['Month-Year']
    matching_fundamental = find_financial_year_range(stock_date, fundamental_pivot)
    for _, fundamental_row in matching_fundamental.iterrows():
        result = stock_row.to_dict()
        result.update(fundamental_row.drop('Month-Year').to_dict())
        results.append(result)

# Create a DataFrame from results
merged_data = pd.DataFrame(results)

# Save the merged data
merged_data.to_csv('wipro_test_data.csv', index=False)

# Print first few rows to verify
merged_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month-Year,Adjustments On Amalgamation Merger Demerger Others,...,Total Current Liabilities,Total Debt/Equity (X),Total Non-Current Assets,Total Non-Current Liabilities,Total Reserves and Surplus,Total Share Capital,Total Shareholders Funds,Trade Payables,Trade Receivables,Trade/Other Goods
0,2005-03-01,78.750000,78.750000,75.723755,78.69375610351562,63.149345,4228995,Mar-2005,2005-03-01,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0.0
1,2005-03-02,76.500000,76.837502,74.925003,78.69375610351562,62.724075,4751626,Mar-2005,2005-03-01,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0.0
2,2005-03-03,75.487503,78.975006,75.487503,78.69375610351562,65.102753,6326453,Mar-2005,2005-03-01,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0.0
3,2005-03-04,78.778130,81.450005,78.412506,78.69375610351562,67.299171,10070595,Mar-2005,2005-03-01,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0.0
4,2005-03-07,81.112503,81.669380,80.128128,78.69375610351562,67.467407,3415475,Mar-2005,2005-03-01,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0.0

In [1]:
merged_data.drop(columns=["Year"])
merged_data.drop(columns=["Month-Year"])

NameError: name 'merged_data' is not defined

In [98]:
data = pd.read_csv("Wipro_new_data.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month-Year,Adjustments On Amalgamation Merger Demerger Others,...,Total Current Liabilities,Total Debt/Equity (X),Total Non-Current Assets,Total Non-Current Liabilities,Total Reserves and Surplus,Total Share Capital,Total Shareholders Funds,Trade Payables,Trade Receivables,Trade/Other Goods
0,3/1/2005,78.750000,78.750000,75.723755,76.010628,63.149345,4228995,5-Mar,3/1/2005,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0
1,3/2/2005,76.500000,76.837502,74.925003,75.498756,62.724075,4751626,5-Mar,3/1/2005,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0
2,3/3/2005,75.487503,78.975006,75.487503,78.361877,65.102753,6326453,5-Mar,3/1/2005,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0
3,3/4/2005,78.778130,81.450005,78.412506,81.005630,67.299171,10070595,5-Mar,3/1/2005,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0
4,3/7/2005,81.112503,81.669380,80.128128,81.208130,67.467407,3415475,5-Mar,3/1/2005,0.0,...,1788.53,0.01,4052.27,8.4,4751.73,140.71,4892.44,323.98,1406.51,0

In [ ]:
!pip install pandas numpy matplotlib scikit-learn tensorflow

In [166]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [167]:
data = pd.read_csv('wipro_new_data.csv')

In [168]:
features = data.drop(columns=['Date', 'Close','Year','Month-Year'])
targets = data[['Close']]

In [169]:
features = features.apply(pd.to_numeric, errors='coerce')
targets = targets.apply(pd.to_numeric, errors='coerce')

In [170]:
features = features.apply(pd.to_numeric, errors='coerce')
targets = targets.apply(pd.to_numeric, errors='coerce')
scaler_features = MinMaxScaler()
scaler_targets = MinMaxScaler()

features_scaled = scaler_features.fit_transform(features)
targets_scaled = scaler_targets.fit_transform(targets)

In [171]:
def create_sequences(data, target, seq_length):
    xs, ys = [], []
    for i in range(len(data) - seq_length):
        x = data[i:i+seq_length]
        y = target[i+seq_length]
        xs.append(x)
        ys.append(y)
    return np.array(xs), np.array(ys)

seq_length = 60
X, y = create_sequences(features_scaled, targets_scaled, seq_length)

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [172]:

X_train = np.array(X_train)
X_train = np.expand_dims(features_scaled, axis=1)  # (samples, time_steps, features)
y_train = targets_scaled

In [175]:
X_train = np.array(X_train)
X_train.shape
X_train

array([[[0.04938686, 0.04704418, 0.05201841, ..., 0.05655286,
         0.        , 0.        ]],

       [[0.04606562, 0.04428737, 0.05083579, ..., 0.05655286,
         0.        , 0.        ]],

       [[0.04457106, 0.04736852, 0.05166862, ..., 0.05655286,
         0.        , 0.        ]],

       ...,

       [[0.6246997 , 0.61880327, 0.62704136, ..., 0.92518503,
         1.        , 0.        ]],

       [[0.63067792, 0.62168621, 0.63229741, ..., 0.92518503,
         1.        , 0.        ]],

       [[0.62831618, 0.61873121, 0.63000253, ..., 0.92518503,
         1.        , 0.        ]]])

In [176]:
# Checking for NaNs in X_train
nan_indices = np.where(np.isnan(X_train))
print("NaN indices:", nan_indices)

# Fill NaNs with the mean of the column or drop them
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
X_train = imputer.fit_transform(X_train.reshape(-1, X_train.shape[2])).reshape(X_train.shape)

NaN indices: (array([   0,    0,    1, ..., 4647, 4648, 4648]), array([0, 0, 0, ..., 0, 0, 0]), array([20, 21, 20, ..., 37, 29, 37]))

In [180]:
from keras.models import Sequential
from keras.layers import LSTM, Dense
import numpy as np

# Define the model
model = Sequential()

# Add LSTM layer with input shape
# input_shape=(1, 97) corresponds to (timesteps, features)
model.add(LSTM(100, input_shape=(1, 97), return_sequences=False))

# Dense layers for further learning
model.add(Dense(50, activation='relu'))
model.add(Dense(1))  # Output layer for predicting one value

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Fit the model
# Ensure y_train is reshaped to (-1, 1) if necessary
y_train_reshaped = np.reshape(y_train, (-1, 1))

model.fit(X_train, y_train_reshaped, epochs=20, batch_size=64, validation_split=0.2)

# Make predictions
predictions = model.predict(X_train)

# Print model summary
model.summary()

ValueError: object __array__ method not producing an array

In [177]:
print(np.isnan(X_train).any())  # Should be False
print(np.isinf(X_train).any())  # Should be False

print(np.isnan(y_train).any())  # Should be False
print(np.isinf(y_train).any())  # Should be False

False
False
False
False

In [131]:
# Check types and shapes
print(type(X_train))
print(type(y_train))
print(X_train.shape)
print(y_train.shape)

# Ensure they are NumPy arrays
X_train = np.array(X_train)
y_train = np.array(y_train)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(4649, 1, 97)
(4649, 1)

In [142]:
X_train.shape[2]
y_train.shape[1]

1

In [157]:
X_train

array([[[0.04938686, 0.04704418, 0.05201841, ..., 0.05655286,
         0.        , 0.        ]],

       [[0.04606562, 0.04428737, 0.05083579, ..., 0.05655286,
         0.        , 0.        ]],

       [[0.04457106, 0.04736852, 0.05166862, ..., 0.05655286,
         0.        , 0.        ]],

       ...,

       [[0.6246997 , 0.61880327, 0.62704136, ..., 0.92518503,
         1.        , 0.        ]],

       [[0.63067792, 0.62168621, 0.63229741, ..., 0.92518503,
         1.        , 0.        ]],

       [[0.62831618, 0.61873121, 0.63000253, ..., 0.92518503,
         1.        , 0.        ]]])

In [159]:
import numpy as np

# Convert X_train and y_train to numpy arrays if they aren't already
X_train = np.array(X_train)
y_train = np.array(y_train)

# Check data types
print(X_train.dtype)
print(y_train.dtype)

float64
float64

In [160]:
print(X_train.shape)
print(y_train.shape)

(4649, 1, 97)
(4649, 1)

In [161]:
# Print a sample of X_train to inspect
print(X_train[0])

[[4.93868572e-02 4.70441767e-02 5.20184107e-02 3.58082251e-02
  3.24390062e-02 0.00000000e+00 9.79377680e-01 4.09742120e-01
  0.00000000e+00 1.66587372e-01 1.66587372e-01 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  4.09780776e-01 5.32753623e-01 9.04152396e-03 0.00000000e+00
  3.61504130e-01 2.85488079e-01 1.57024793e-01 5.38531278e-02
  1.06677203e-02 4.11708253e-01 3.63636364e-01 4.67246377e-01
  4.75427070e-01 1.00000000e+00 7.24057701e-01 7.92013311e-01
  5.24572930e-01 0.00000000e+00 3.50323085e-02 0.00000000e+00
  1.16493597e-01 0.00000000e+00 0.00000000e+00 4.94692144e-01
  2.02551218e-02 5.71530963e-02 1.96145477e-01 1.49120971e-03
  0.00000000e+00 0.00000000e+00 7.94117647e-01 8.13172861e-01
  6.66340400e-01 7.91321867e-02 4.53557470e-01 9.10485934e-01
  0.00000000e+00 4.11736641e-01 0.00000000e+00 7.06133833e-01
  1.42364983e-02 0.00000000e+00 0.00000000e+00 8.38754354e-02
  0.00000000e+00 0.00000000e+00 9.89178148e-04 7.96380090e-01
  2.90353090e-01 7.65418502e-01 2.92260692e-01 8.54326396e-01
  3.11843535e-01 7.24448898e-01 7.94117647e-01 1.39344262e-01
  9.12712918e-02 0.00000000e+00 5.24572930e-01 1.00000000e+00
  9.34813754e-01 9.45961995e-01 2.63993884e-01 7.35006646e-03
  1.05808489e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 8.19987792e-04 0.00000000e+00
  0.00000000e+00 0.00000000e+00 5.65528557e-02 0.00000000e+00
  0.00000000e+00]]

In [164]:
!pip install --upgrade tensorflow keras

Requirement already satisfied: tensorflow in c:\python311\lib\site-packages (2.17.0)
Requirement already satisfied: keras in c:\python311\lib\site-packages (3.4.1)
Requirement already satisfied: tensorflow-intel==2.17.0 in c:\python311\lib\site-packages (from tensorflow) (2.17.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.4.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (4.25.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (65.5.0)
Requirement already satisfied: six>=1.12.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.65.2)
Requirement already satisfied: tensorboard<2.18,>=2.17 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.17.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\python311\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.26.4)
Requirement already satisfied: rich in c:\python311\lib\site-packages (from keras) (13.7.1)
Requirement already satisfied: namex in c:\python311\lib\site-packages (from keras) (0.0.8)
Requirement already satisfied: optree in c:\python311\lib\site-packages (from keras) (0.12.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\python311\lib\site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\python311\lib\site-packages (from rich->keras) (2.18.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\python311\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.0->tensorflow) (0.43.0)
Requirement already satisfied: mdurl~=0.1 in c:\python311\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2024.7.4)
Requirement already satisfied: markdown>=2.6.8 in c:\python311\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.6)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\python311\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\python311\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\python311\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (2.1.5)

WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)